body {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: rgb(63, 52, 52);
}
h1 {
  color: aliceblue;
  font-weight: 500;
  text-align: center;
  border-bottom: 2px solid rgb(121, 99, 99); /* You can adjust the thickness and color */
  padding-bottom: 5px; /* Adds some spacing between the text and underline */
  position: sticky; /* Makes the heading sticky */
  top: 0; /* Sticks the heading to the top of the viewport */

  z-index: 10; /* Ensures the heading stays above other content */
}

.gallery {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.thumbnail img {
  border: 2px solid white;
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 10px;
}

.thumbnail img:hover {
  transform: scale(1.1);
}

.slideshow-container {
  align-items: center;
  /* border: 2px solid white; */
  position: relative;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  /* border-radius: 10px; */
  /* border: 2px solid #ccc; */
}
.slideshow img {
  border: 2px solid white;
  border-radius: 20px;
}

.slideshow {
  display: flex;
  transition: transform 1s ease;
  /* border: 2px solid black; Example border */
  /* border-radius: 10px; Optional rounded corners */
  width: 600px; /* Fixed width */
  height: 400px; /* Fixed height */
  overflow: hidden; /* Hide overflow if content exceeds the set size */
}

.slides {
  width: 80%;
  display: none;
  object-fit: cover;
}

.slides.active {
  display: block;
}
